@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --containerBgColor: #31393C;
    --headerDivBgColor: #2176FF;
    --inputTaskDivBgColor: #31393C;
    --inputTaskBgColor: #FAF0CA;
    --inputTaskTxtColor: #31393C;
    --logoBgColor: #31393C;
    --logoTxtColor: #FAF0CA;
    --addTaskButtonBgColor: #FFC857;
    --addTaskButtonTxtColor: #31393C;
    --toggleDarkLightModeBgColor: #F78154;
    --toggleDarkLightModeTxtColor: #31393C;
    --tasksDivHeaderTxtColor: #FAF0CA;
    --taskDivBgColor: #FFC857;
    --taskTxtBgColor: #31393C;
    --taskTxtColor: #FAF0CA;
    --doneTaskButtonBgColor: #31393C;
    --doneTaskButtonTxtColor: #00A676;
    --deleteTaskButtonBgColor: #31393C;
    --deleteTaskButtonTxtColor: #FC5130;
    --editTaskButtonBgColor: #31393C;
    --editTaskButtonTxtColor: #256EFF;
}

body {
    background-color: var(--containerBgColor);
}

#container, #headerDiv, #addTaskDiv, #tasksParentDiv, .task, .taskButtons {
    display: flex;
}
#container, #tasksParentDiv, .taskButtons {
    justify-content: center;
}
#headerDiv, #addTaskDiv, .task {
    justify-content: space-between;
}
#container, #headerDiv, #addTaskDiv, #tasksParentDiv, .task, .taskButtons {
    align-items: center;
}
#container, #tasksParentDiv {
    flex-direction: column;
}
#headerDiv, .task, .taskButtons {
    flex-direction: row;
}
#headerDiv, #tasksParentDiv {
    width: 100vw;
}
#headerDiv, #addTaskButton, #toggleDarkLightModeButton, #tasksDivHeader, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    padding: 10px 20px;
}
#headerDiv {
    background-color: var(--headerDivBgColor);
    position: sticky;
    top: 0;
}
#logo, #addTaskButton, #toggleDarkLightModeButton, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    text-transform: uppercase;
}
#logo, #addTaskButton, #toggleDarkLightModeButton, #tasksDivHeader, .taskEditButton, .taskDeleteButton, .taskDoneButton{
    font-weight: 600;
}
#logo, #addTaskDiv, #addTask, .task, .taskText {
    padding: 10px;
}
#logo, #addTaskDiv, #addTask, #addTaskButton, #toggleDarkLightModeButton, .task, .taskText, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    border-radius: 10px;
}
#logo {
    font-size: 1.8rem;
    background-color: var(--logoBgColor);
    color: var(--logoTxtColor);
}
#addTaskDiv {
    width: 50%;
    background-color: var(--inputTaskDivBgColor);
}
#addTask, #addTaskButton, #toggleDarkLightModeButton, .taskText:focus, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    border: none;
    outline: none;
}
#addTask {
    background-color: var(--inputTaskBgColor);
    color: var(--inputTaskTxtColor);
}
#addTask, .taskText, .task {
    width: 60%;
}
#addTask, .taskText {
    font-weight: 500;
}
#addTask, #addTaskButton, #toggleDarkLightModeButton, .taskText, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    font-size: 1.3rem;
}
#addTask::placeholder {
    color: var(--inputTaskTxtColor);
    opacity: 0.7;
}
#addTask::placeholder, #tasksDivHeader {
    text-transform: capitalize;
}
#addTaskButton {
    background-color: var(--addTaskButtonBgColor);
    color: var(--addTaskButtonTxtColor);
}
#addTaskButton, #toggleDarkLightModeButton, .taskEditButton, .taskDeleteButton, .taskDoneButton {
    cursor: pointer;
}
#toggleDarkLightModeButton {
    background-color: var(--toggleDarkLightModeBgColor);
    color: var(--toggleDarkLightModeTxtColor);
}
#tasksDivHeader {
    font-size: 2rem;
    color: var(--tasksDivHeaderTxtColor);
}
#tasksParentDiv {
    gap: 3vh;
    padding: 5vh 0vh;
}
.task {
    background-color: var(--taskDivBgColor);
}
.taskText {
    background-color: var(--taskTxtBgColor);
    color: var(--taskTxtColor);
}
.taskButtons {
    gap: 10px;
}
.taskEditButton, .taskDeleteButton, .taskDoneButton {
    background-color: var(--addTaskButtonBgColor);
}
.taskEditButton {
    background-color: var(--editTaskButtonBgColor);
    color: var(--editTaskButtonTxtColor);
}
.taskDoneButton {
    background-color: var(--doneTaskButtonBgColor);
    color: var(--doneTaskButtonTxtColor);
}
.taskDeleteButton {
    background-color: var(--deleteTaskButtonBgColor);
    color: var(--deleteTaskButtonTxtColor);
}